<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <!-- <div id="container">
    <strong>Practice</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->



  <ion-content  class="ion-padding">
    <div class="container">
      <ion-button [routerLink]="['/home/signup']">signup</ion-button>
    </div>
  </ion-content>
</ion-content>
